div{
background-color: rgb(10, 10, 10); 
height: 150px;   
width: 150px;
border: 10px solid rgb(12, 11, 12);
margin: 5px;
color: rgb(15, 15, 15);
padding: 5px;
}
.container{
    background-color: rgb(10, 10, 10); 
    height: 556px;   
    width: 190px;
    border: 5px solid rgb(8, 8, 8);   
}
.item{
    height: 150px;   
    width: 150px;
    border-radius: 50% ;  
}
.border-red{
    border: 10px solid rgb(15, 15, 15);  
}
#box3{
    background-color: rgb(255, 0, 0);
}
#box2{
    background-color: rgb(250, 246, 1);
}
#box1{
    background-color: rgb(51, 248, 2);
}
